<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    {% block javascriptHead %} {% endblock %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    >
  </head>
  <body>
    <header>
    <div class="hoverable">
      <a class = "woutdecor" href="{{ url_for('index') }}"><h1> Inicio </h1></a>
    </div>
    
    <div id="site_navegation">
        <table class="table-inicio">
            <tr>
                <td class="hover"><a href="{{ url_for('agregar_donacion')}}" class = "woutdecor">Hacer una donacion</a></td>
                <td class="hover"><a href="{{ url_for('agregar_pedido') }}" class = "woutdecor">Hacer un pedido</a></td>
                <td class="hover"><a href="{{ url_for('ver_donaciones') }}" class = "woutdecor">Ver las donaciones</a></td>
                <td class="hover"><a href="{{ url_for('ver_pedidos') }}" class = "woutdecor">Ver los pedidos</a> </td>
                <td class="hover"><a href="{{ url_for('graficos') }}" class = "woutdecor">Graficos de pedidos y donaciones</a> </td>
            </tr>
        </table>
    </div>
    <hr>
    </header>
    {% block content %}{% endblock %} {% block javascript %}{% endblock %}
  </body>

</html>
